body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#navbar {
    list-style: none;
    background-color: #ee1c25;
    padding: 10px;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

#navbar li {
    display: inline;
    margin: 0 35px;
}

#navbar img {
    width: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffff00;
}

.img_container {
    text-align: center;
 }


 .img_container img {
    filter: grayscale(100%);
    margin: 30px 0;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.244);
    border-radius: 15px;
 }
 
 .img_container img:hover {
    filter: grayscale(0%);
 }

 p {
    margin: 0 0 30px 0;
 }







  